body{
  border-color: black;
   box-sizing: border-box;
   box-shadow: blue;
   padding: 30px;
    border: 10px solid blue;
    height:100%;
    width: 100%:
}
h1{
  font-size:75px;
  font-family: Comic Sans MS;
  display:inline-block;
}
.jumbotron{
  color: lightblue;
}
h{
  font-size: 24px;
  font-style: oblique;
}
