body{
  border-color: black;
   box-sizing: border-box;
   box-shadow: blue;
   padding: 30px;
    border: 10px solid blue;
    height:100%;
    width: 100%:
    background-color:lightgreen;
}
h1{
  font-size:75px;
  font-family: Comic Sans MS;
  align-items: center;
  padding-top: 4px;
}
.jumbotron{
  color: lightblue;

}
p{
  font-size: 20px;
  font-family: verdana;
}
h{
  font-size: 24px;
  font-style: oblique;
}
li{
  font-size: 25px;
}
marquee{
  font-size: 30px;
  font-family: cursive;
  color:indigo;
}
img{
  float:right;
}
label{
  font-size: 25px;
}
button{
  font-size: 20px;
}
.form-horizontal{
  font-size: 25px;
}
